<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623090011752-kc6jvbfl3f6rt0kt1dvinaq0nrfemoes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623090011752-kc6jvbfl3f6rt0kt1dvinaq0nrfemoes</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>623090011752-8njhm123krful3evfcu999urkiui0es1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCknz891aFRgVrQ2muEv8uVcG2g4tKJnJI</string>
	<key>GCM_SENDER_ID</key>
	<string>623090011752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ai.anime.art.generator.photo.create.pixaiart</string>
	<key>PROJECT_ID</key>
	<string>photo-anime-b288f</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-anime-b288f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623090011752:ios:302da0e5e47c2167ffb5dd</string>
</dict>
</plist>